{% extends 'base.html' %}

{% block title %}
     Затребуваність професій
{% endblock %}

{% block style %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/demand_for_prof_style.css') }}">
{% endblock %}

{% block body %}
    <div class="bodyx">
    	<h2>
            Затребуваність професій
    	</h2>
    	<img src="{{ url_for('static', filename='pictures/demand_1.jpg') }}" width="300em" class="imgs">
    	<p>
    		Слово «затребуваність» діти вживають рідко. Лише в старших класах, почувши про те, що існують якісь затребувані професії, ми зачіпляємось пам'яттю за це дивовижне слівце, але далеко не завжди намагаємося його правильно зрозуміти. Що це таке? Хтось плутає його з популярністю, хтось - із престижністю, хтось вважає завідомо затребуваними все сучасні способи чесного заробітку. А жителю маленького містечка все одно боязко, адже йому здається, що там, де він мешкає, потрібні мало які професії, зате всі професії, вважає він, неодмінно затребувані в Києві чи Дніпрі.
    	</p>
    	<p>
    		Згідно із сучасними дослідженнями ринку праці, затребуваними вважаються кваліфіковані маркетологи, IT-фахівці, програмісти, інженери, медики, технологи харчових виробництв, рекламісти і працівники сфери обслуговування. Тобто - вони швидко влаштовуються на роботу.
    	</p>
    	<p>
    		Але якщо який-небудь халтурник освоював що-небудь з цього списку абияк, чи можна назвати його затребуваним?
    	</p>
    	<p>
    		Ні, не можна.
    	</p>
    	<p>
    		Отже, на затребуваності спеціальностей варто зупинитися докладніше.
    	</p>
    	<h3>Ніхто нікому не потрібен?</h3>
    	<blockquote>
          <p font-weight="600">
          	Незатребуваність можлива як реальна, так і цілком міфічна. «Ніхто нікому нічого не винен», «Кожен сам за себе» - за допомогою подібних ідейок сучасні люди огризаються один на одного, відгороджуючись від колишніх часів, коли кордони особистості легко порушувалися. І якщо повторювати подібне занадто часто, то здасться, що і на ринку праці ні в які компанії ніякі професіонали не потрібні. Мовляв, ніхто нікому не потрібен! Небезпечний настрій, адже він створює переконаність в наявності перешкод там, де їх насправді не існує.
          </p>
        </blockquote>
    	<p>
    		Цю «істину» люблять декларувати люди, які не були помічені в активному пошуку роботи і достовірно не знають, які ж професії на ринку праці затребувані, а які - ні. Напевно, за плечима у них - схожий досвід вибору вузу і напряму підготовки: вони і раніше немов би не бачили всіх можливих варіантів, де можна із задоволенням повчитися.
    	</p>
    	<p>
    		І першим, що обмежило бідолах на шляху до покликання, були важкі шкільні предмети. Рівняння реакції чомусь ніяк не пишеться - значить, відпадають факультети, для вступу на які потрібно здавати хімію. ЗАЛІЗНА ЛОГІКА! А кинулися б ще тоді на пошуки того, хто пояснив би незрозумілий момент, або самому спробували б усе зрозуміти - звичка долати перешкоди встигла б виробитися... А вже на ринку праці наполегливі люди, повірте, затребувані!
    	</p>
    	<h3>Підприємницький підхід</h3>
    	<blockquote>
          <p font-weight="600">
          	Людству потрібні їжа та інформація, комфорт житла та краса речей, світлі вулиці та зелені ліси, швидке вирішення проблем та нові приводи для радості. Це величезне поле можливостей, і відповіддю на один з подібних запитів може стати будь-який ваш винахід.
          </p>
        </blockquote>
    	<p>
    		Безумовно, в світі вже маса всього придумано і зроблено. Більш того: все, що зроблено, вже цілком різноманітне, вже в надлишку. Однак завжди знайдуться люди, яких це не влаштує, яким це не до душі, яким подавай що-небудь новеньке, для яких поки ніхто не змайстрував того, про що б вони мріяли. А тут ви зі своїми ідеями! А ваша власна ідея якимось оригінальним чином допомогти собі і людям може вирости в бізнес-план, адже те, що захочете зробити для себе ви, напевно захоче купити ще хтось.
    	</p>
    	<blockquote>
          <p font-weight="600">
          	Тому подумайте: що б ви хотіли зробити для себе і друзів, для району або цілого міста, або - це навіть краще! - для будь-якої групи людей, об'єднаних спільними інтересами? Таким чином ви виявите, яке діло може бути затребуваним і хто його споживачі. І неважливо, чи додумався хто-небудь опублікувати таку вакансію, а якщо додумався, чи багато таких вакансій і чи є відповідна їм професія затребуваною.
          </p>
        </blockquote>
    	<p>
    		Уявіть собі, що далеко не все незроблене враховано і пораховано дослідниками кадрового ринку і що далеко не кожен новий цікавий продукт або проект претендує на те, щоб ощасливити всіх і стати універсальним. Зате якщо ви уважно вдивитеся в лінійку новинок, запропоновану XXI століттям, то виявите в ній не тільки «банальні» iPhone і Instagram, але і соціальні мережі для безпроблемного вивчення іноземної мови, звукові доріжки для бігу і туристичні програми для людей-«сов». Ну а незвичайні бізнеси самим фактом свого існування розбудять вашу підприємницьку фантазію і змусять повірити в те, що затребуваність професії - це не така вже й проблема.
    	</p>
    	<p>
    		А якщо зібрати правильну команду для реалізації вашого проекту виявиться непросто, тоді ви вже самі почнете визначати, які співробітники були б затребувані, а які - ні. Багато хто не береться працювати разом з друзями, оскільки далеко не всіх вірних і хороших друзів вони можуть вважати затребуваними професіоналами для своєї команди. Хто їм потрібен, того роками шукають! І на такому витку усвідомлення феномена затребуваності ніхто більше не обмежується назвами нібито затребуваних професій: до цього моменту люди готові детально перераховувати конкретні необхідні компетенції, властиві справжньому фахівцеві.
    	</p>
    	<h3>У нетрях сумнівів</h3>
    	<blockquote>
          <p font-weight="600">
          	Втім, відсутність належної інфраструктури навколо цілком компетентного професіонала справді може стати перешкодою до його самореалізації - навіть при наявності запиту на його роботу в соціумі. І тоді виходить, що він начебто затребуваний - а начебто і не дуже.
          </p>
        </blockquote>
    	<p>
    		Як репетиторство, так і послуги з ремонту користуються попитом, однак важко говорити про справжню затребуваність професії в умовах дикого ринку.
    	</p>
    	<p>
    		І навпаки: не всі ті, хто офіційно оформлений на своєму робочому місці, стовідсотково затребувані як кваліфіковані працівники. Скажімо, викладач технікуму в невеликому містечку - потрібна людина, у нього є учні, вони без роботи не залишаться; або біолог в науково-дослідному інституті - він веде дослідження, щоб допомогти людству перемогти серйозну хворобу. Однак зарплати і того, і іншого фахівців можуть і не виражати ступінь важливості виконуваних ними місій.
    	</p>
    	<p>
    		Якщо в провінційному місті впроваджуються цікаві управлінські рішення, гідні національної слави, не факт, що інформація про це буде затребувана у центральних ЗМІ. А результат досліджень, проведених в столицях, виявиться незатребуваним в глибинці. При цьому і там, і там кипить робота.
    	</p>
    	<blockquote>
          <p font-weight="600">
          	Затребуваність - величина непостійна: друкарські машинки, навколо вміння друкувати на яких багато хто планував будувати свою кар'єру три-чотири десятки років тому, більше не зустрічаються в офісах. А більшість літніх акторів, які колись давно славилися в амплуа юних героїв, при розподілі ролей давно вже аж ніяк не нарозхват.
          </p>
        </blockquote>
    	<p>
    		Судити про затребуваність буває зовсім складно. Візьмемо для прикладу психологію. У населення психологічних проблем вистачає, але культура звернення до психологів тільки починає формуватися, грамотно вибрати хорошого фахівця людям важко, багато хто і не звертається ні до кого, страждаючи мовчки. При цьому психологи - є. Вузи з психологічними факультетами - теж є, вчися досхочу. Причому ті, хто надходять туди в масовому порядку, не завжди впевнені в тому, що психологія - їх покликання. Так чи затребувані психологи? Ух, як все заплутано!
    	</p>
    	<p>
    		<b>Ідеальна, стовідсоткова затребуваність професії</b> означала б, що роботодавець готовий платити її кваліфікованому представнику гідну офіційну зарплату (або сам працівник без надмірних проблем може проявити себе в якості підприємця), що у професіонала є клієнти, що про нього можуть дізнатися потенційні клієнти, які не висміюватимуть суть професії. Повага - важливий компонент затребуваності.
    	</p>
    	<blockquote>
          <p font-weight="600">
          	По-справжньому затребувана робота шанована тими, хто її виконує, тими, хто за неї платить, і тими, хто про неї знає.
          </p>
        </blockquote>
    	<p>
    		Якщо цієї поваги поки недостатньо, вирішуйте самі ще при виборі професії, чи готові ви до того, щоб в майбутньому не тільки багато років виконувати свої прямі обов'язки, а й покроково виправляти ситуацію з іміджем професії як такої.
    	</p>
    	<p>
    		А коли професія престижна, добре оплачувана і взагалі чудова, і за такими фахівцями роботодавці в чергу шикуються, все це ще не привід її вибирати, якщо ви її не любите. Затребуваність професії сама по собі не критерій для вибору: таке заняття набридне швидко, не дивлячись ні на що!
    	</p>
    	<p>
    		Краще слухайте своє серце.
    	</p>
    	<h3>Конкуренція</h3>
    	<p>
    		Навіть близьку до ідеалу затребуваність професії надмірно висока конкуренція зводить нанівець. Раз вже ви дізналися, що конкурс на місце у вузі високий, притому що і самих бюджетних місць відкрито чимало, готуйтеся стати кращим у своїй справі: конкуренти не дрімають! Однак нервувати не потрібно: просто розвивайте свій професіоналізм.
    	</p>
    	<blockquote>
          <p font-weight="600">
          	Помічено: дослідники ринку праці не так вже й часто публікують дослідження про те, в яких же сферах спостерігається найвища конкуренція професіоналів (хоча вже який рік трублять про перевиробництво юристів і економістів). Чому так відбувається?
          </p>
        </blockquote>
    	<p>
    		Справа в тому, що перевиробництво фахівців саме по собі не веде до посиленого суперництва за конкретне робоче місце. Втім, у сферах, де відзначається надлишок кадрів, менеджери з управління персоналом дійсно отримують багато резюме на одну посаду. Але це не сприймається як «30 людей на місце», скоріше як «один кандидат ідеальний, інший майже ідеальний, решта 28 - явно не підходять». Причому ідеальність визначається не взагалі, а по відношенню до потреб конкретної компанії. Іншій компанії, цілком можливо, швидше підійшов би той, хто посів друге місце - або навіть хтось із «масовки», якщо він справжній професіонал, звичайно.
    	</p>
    	<p>
    		Набагато сумніше, коли більшість претендентів на вакансію елементарно погано підготовлені, оскільки абияк вчилися у ВНЗ. Але чи можна говорити в такому випадку про їх незатребуваность - чи правильніше все-таки сказати про нестачу професіоналізму?
    	</p>
    	<p>
    		Зате якщо той самий «майже ідеальний» складе руки і буде скаржитися на долю, йому якраз впору буде вважати себе незатребуваним. А якщо він не здасться і доб'ється свого, то він затребуваний.
    	</p>
    	<p>
    		За тією ж моделлю, за якою поводиться успішний, затребуваний професіонал, можна вибудовувати і свою поведінку в рамках навчання. Тому не здавайтеся!
    	</p>
    </div>
{% endblock %}