{% extends 'base.html' %}



{% block title %}
    SpecChoise
{% endblock %}



{% block style %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/home_style.css') }}">
{% endblock %}



{% block body %}
    <div class="bodyx">
        <div class="pidmenu">
            <ul>
                <li><a href="/zno-test">Спеціальність за предметами ЗНО</a></li>
                <li><a href="/prof-orient-test-start">Тест для вибору спеціальності (карта інтересів)</a></li>
            </ul>
        </div>
        <div class="golov">
            <p>
                Існує маса тестів, покликаних спростити людям вибір спеціальності. Одні з них призначені суто для
                абітурієнтів і допомагають обрати спеціальність за предметами ЗНО. Інші ж призначені абсолютно для усіх
                людей і допомагають обрати професію за допомогою виявлення їх особистісних і професійних схильностей.
                Зрозуміло, інтерпретація отриманих результатів носить суто рекомендаційний характер, проте користь від
                такого тестування може виявитися дуже істотною.</p>

            <p>Це стосується не тільки випускників шкіл і вузів, які бажають визначитися з професією, а й дорослих
                людей, які вже мають певний стаж роботи. Професію змінити можна, але, звичайно, краще буде відразу
                встати на вірний шлях - і серцем, і розумом.</p>

            <p>Правильний вибір можна зробити, лише взявши до уваги результати спеціально призначених для цього тестів,
                відображених у меню праворуч.</p>
            </p>
        </div>
    </div>
{% endblock %}
