{% extends 'base.html' %}

{% block title %}
     Вплив батьків на вибір професії
{% endblock %}

{% block style %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/parental_influence.css') }}">
{% endblock %}

{% block body %}
    <div class="bodyx">
    	<h2>
            Вплив батьків на вибір професії
    	</h2>
      <img src="{{ url_for('static', filename='pictures/parental_influence_1.jpg') }}" width="340em" class="img_t">
    	<p>
        <em>Вплив батьків на вибір професії є вельми значним. На що слід звернути увагу і до чого зі сказаного варто прислухатися, а що старшокласнику варто вирішувати самостійно? Як правильно реагувати на поради і як вони можуть вплинути на вашу подальшу долю? Дізнайтеся відповіді на ці питання, ознайомившись із матеріалом.</em>
    	</p>
      <p>
        Одні люди з образою розповідають про те, як їм довелося витратити з десяток років на навчання і роботу «для мами» - і лише потім взяти на себе, нарешті, сміливість повернутися до того, чим завжди так хотілося займатися самим. Воістину дитячий захват від здобуття улюбленої справи іноді супроводжується відчуттям досади. Досади на те, що стільки років витрачено даремно. На те, що всі, хто стартували тоді, відразу після школи, домоглися вже багато чого - і їх не наздогнати. Досади на те, що вже не так просто дається і друга вища освіта, і зміна звичного способу життя.
      </p>
      <p>
        Інші ж кажуть, що вдячні матері або батьку. Що тільки потому усвідомили, наскільки близькою і «своєї» стала для них ... нав'язана професія. Можна почути історії на кшталт: «Я ж була зовсім дівчиськом, вітер в голові - то в актриси хотілося після вдалої ролі в шкільному спектаклі, то слідом за подружками вступати на престижний економічний. Якби тато тоді не наполіг тоді на освіты інженера, не знаю, що зі мною було б».
      </p>
      <p>
        Чи треба слухати старших, коли вибираєш професію і ВНЗ? З одного боку, ви будуєте своє життя, в якому доведеться жити самим - і відповідати за себе також самим. З іншого боку, батьки не чужі вам люди і бажають добра - а отже, до їхніх порад варто прислухатися.
      </p>
      <p>
        Спробуємо розібратися. Отже, ваші думки розійшлися. Подивимося, які точки зору зазвичай висловлюють старші, чим вони зазвичай аргументують свою позицію - і як на це реагувати.
      </p>
      <h3>«У цій професії грошей ніколи не заробиш»</h3>
        <p>
          Батьки рекомендують вам звернути увагу на варіанти, які, на їхню думку, є "грошовими". Перш за все, задумайтеся, наскільки фінансова незалежність і матеріальний достаток є значимими для вас самих. Заробляти на елементарні витрати можна абсолютно в будь-якій професії, а ось стати власником яхти, нової шикарної машини і вілли на березі моря може, дійсно, представник далеко не кожної спеціальності. Важливо об'єктивно оцінити необхідний вам рівень доходу. Саме тому тут варто прислухатися до думки дорослого: самому буває важко оцінити свої потреби, якщо зазвичай їх забезпечують дорослі.
        </p>
        <p>
          При цьому потрібно мати на увазі, що дорослі не завжди мають правильну інформацію щодо цього питання. Хоча життєвий досвід значить багато, світ змінюється, і рівень доходу представників певних професій теж. Все ж перевірте почуте: ви можете, наприклад, зайти на сайти з пошуку роботи та подивитися на затребуваність професії на ринку праці та рівень пропонованого доходу.
        </p>
      <h3>«Мені не вдалося, зате ти туди вступиш»</h3>
        <p>
          Іноді буває, що з різних причин батьки не змогли реалізувати свою мрію і, бачачи в дитині своє продовження, хочуть, щоб цю мрію здійснив він. Потрібно серйозно поставитися до цього рішення. Добре, якщо ви дійсно отримали «у спадок» від мами чи тата здібності й інтерес саме до цієї професії. А якщо немає? Краще навіть не намагатися бути не собою, а іншою людиною... Це може мати серйозні наслідки - особливо якщо очікування виправдати не вдасться.
        </p>
        <p>
          Тут необхідна серйозна розмова. Спробуйте зрозуміти, виходячи з чого сім'я радить обрати такий життєвий шлях. Роз'ясніть свою позицію: ви інша людина, зі своїми інтересами, здібностями та бажаннями.
        </p>
      <img src="{{ url_for('static', filename='pictures/parental_influence_2.jpg') }}" width="320em" class="img">
      <h3>«У тебе не вийде»</h3>
        <p>
          Батьки переконують, що і сама професія, і навіть навчання на факультеті, що цікавить вас, є дуже складними. Вони вважають, що ви переоцінюєте свої сили і не розумієте, наскільки важко вам доведеться: «А пам'ятаєш, наш сусід, як не старався, вилетів з третього курсу?»
        </p>
        <p>
          Варто прислухатися до цих аргументів і точніше розібратися з тим, що ж вас чекає, які предмети будуть основними при навчанні - і на якому рівні складності. Оцініть об'єктивно свої можливості, зніміть «рожеві окуляри». Втім, батьки ризикують і недооцінити ваші сили, особливо якщо ви помічали, що так було і в інших областях.
        </p>
      <h3>«Я ж краще знаю: ця професія ідеальна для тебе!»</h3>
        <p>
          Напевно, перші кілька разів такі заяви викликають тільки почуття протесту, але не поспішайте затикати вуха і відвертатися. Попросіть маму з татом пояснити їхню позицію. Можливо, виявиться, що вони помічають у вас якісь якості, яких ви самі не бачите. Особливо це актуально в ситуації, коли ви самі ще не визначилися остаточно. Іноді близькі люди бачать особливості та здібності людини навіть краще, ніж вона сама. Задумайтесь, наскільки добре знають вас батьки, наскільки у вас довірливі відносини. Або у них в голові все ще образ тієї дитини, якою ви вже перестали бути? Змогли б ви, скажімо, поїхати вчитися в інше місто? Не страшно?
        </p>
      <h3>«Ти нас розориш!»</h3>
        <p>
          Часом батьки говорять речі, які взагалі не можна залишати без уваги. Найяскравіший приклад - якщо навчання в обраному вами вузі платне і сім'я не потягне таких витрат. У такому випадку можна постаратися знайти компроміс. Або пошукати ВНЗ, в якому навчання за цією ж або близькою спеціальності буде дешевше (або де є шанси вступити на бюджетне відділення). Або - якщо вам так важливий саме цей ВНЗ, - домовитися, що частину коштів за навчання ви будете вносити з власних грошей. Це може бути підробіток, це може бути домовленість про скорочення коштів на особисті витрати, ви можете спробувати отримати грант на навчання і т.д.
        </p>
        <p>
          Якщо батьки кажуть, що конкретний ВНЗ не дає за обраною спеціальністю якісної освіти, вам теж краще зайнятися спільним пошуком компромісних варіантів.
        </p>
      <h3>«Плавали, знаємо»</h3>
        <p>
          Іноді ваша мати або батько посилено відмовляють вас займатися тією професією, за якою працюють самі. Безумовно, їх думці тут варто довіряти; слід поставитися до неї серйозно, адже вони добре знають обстановку зсередини і позбавлені ілюзій. Попросіть їх продовжити розмову: перерахувати всі плюси, мінуси та підводні камені професії - чи зможете ви впоратися з такими труднощами?
        </p>
        <p>
          При цьому не треба забувати, що в рамках однієї професії існують різні спеціалізації; багато що залежить і від безпосереднього місця роботи. Якщо мінуси, названі вам, пов'язані в основному з цим, то у вас є шанс пройти по тій самій професійній доріжці зовсім іншим шляхом, можливо - більш успішним. А мама чи тато стануть вірними порадниками і помічниками в цьому, якщо ви все ж таки вирішите наслідувати їхній приклад. Про що і можна з ними відразу домовитися.
        </p>
      <img src="{{ url_for('static', filename='pictures/parental_influence_3.jpg') }}" width="280em" class="img">
      <h3>«Там же легко!»</h3>
        <p>
          Іноді улюбленому чаду пропонують піти вчитися до ВНЗ, у який простіше вступити, або освоїти професію, за якою потім вас влаштують на роботу. Звичайно, це позбавляє від багатьох проблем, але, перш ніж погодитися, дайте собі відповідь: а чи готові ви заради легкості відмовитися від власних бажань, прагнень, уподобань? Що цінніше для вас?
        </p>
        <p>
          Тут немає «хорошого» і «поганого» - все залежить від того, чи відчуваєте ви вже в собі достатньо сил і впевненості для прийняття повністю самостійних рішень.
        </p>
      <h3>«Ми не знаємо, як це»</h3>
        <p>
          Батькам завжди буває дуже тривожно, коли дитина вибирає професію, далеку від їх сфери діяльності - наприклад, син лікарів хоче вчитися на режисера або дочка музикантів вступає на спеціальність «Економіка». Ця тривога обумовлена ​​тим, що батьки не знають, як допомогти вам у майбутньому, якщо виникнуть якісь професійні запитання. До того ж часто в таких випадках сама професія оповита для них міфами, які зображують її як важку, або невигідну, або незатребувану і т.п. Якщо це ваш випадок, влаштуйте рідним знайомство з вашою майбутньою справою. Розкажіть, у чому полягають щоденні обов'язки, де можуть працювати такі фахівці і яка їхня зарплата. Тоді існуватиме більше шансів, що ви отримаєте підтримку щодо вашошл вибору.
        </p>
        <h3 style="text-align: center;"><strong>***</strong></h3>
        <blockquote>
          <p font-weight="600">Загалом, всі поради старших потрібно сприймати не як істину, а як ще одне джерело інформації.</p>
        </blockquote>
        <p>
            Причому джерело, хочеться сподіватися, доброзичливе і конструктивне. Але, як і з будь-яким джерелом інформації, з ним треба працювати. Що це означає? Важливо спокійно, по-дорослому поговорити з батьками, з'ясувати причини і аргументи, за якими вони дають ту чи іншу рекомендацію. Почуття протесту ( «А я все зроблю по-своєму!») є поганим порадником: вам потрібна об'єктивність.
        </p>
        <p>
          Але будь-яке джерело інформації не повинне бути єдиним, і батьківська думка не виняток. Важливо вивчити думку самих фахівців в обраній вами професії, почитати статті про неї, дізнатися якомога більше про ВНЗ та факультет, на який збираєтеся вступати...
        </p>
        <p>
          І вже після цього зважувати всі «за» і «проти».
        </p>
        <p>
          Отримувати інформацію можна і потрібно різними способами. Сім'я, найчастіше, є одним з накращих джерел. Але рішення завжди залишається за вами, адже ви визначаєте свою долю і своє майбутнє.
        </p>
        <p>
          У будь-якому випадку, подякуйте близьким за небайдужість до вашої долі; запевніть їх, що ретельно зважили всі аргументи. І зверніться з проханням підтримати ваш вибір - перший дорослий вибір у вашому житті. Розкажіть про те, що їх підтримка необхідна вам, чим би ви не вирішили займатися.
        </p>
        <p>
          Тільки по-справжньому доросле, вдумливе ваше ставлення до профорієнтації дасть можливість батькам зрозуміти, що ви і справді вже готові брати на себе відповідальність за своє життя.
        </p>
        <p>
          Примхи, скандали, небажання чути інші думки - поведінка дитяча, а тому матері або батьку хочеться взяти життя сина чи дочки під ще більший контроль. Пам'ятайте про цю цілком природною реакцію.
        </p>
        <p>
          Вибір професії і навчального закладу - мабуть, перша серйозна перевірка на дорослість.
        </p>
        <p>
          Успіхів вам!
        </p>
	  </div>
{% endblock %}