{% extends 'base.html' %}

{% block title %}
     Професії для тих, кому все швидко набридає
{% endblock %}

{% block style %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/prof_for_those_who_do_quickly_bored.css') }}">
{% endblock %}

{% block body %}
    <div class="bodyx">
    	<h2>
    		Професії для тих, кому все швидко набридає
    	</h2>
    	<p>
          <em>Чи є професії для таких людей, яким потрібно постійна різноманітність, зміни, рух? Чи ви просто будете змушені, як кажуть дорослі, заспокоїтися і стати розсудливим?</em>
          <p>Визначатися, звичайно, доведеться в будь-якому випадку, адже кожна професія вимагає відповідальності і виконання тих чи інших професійних функцій, хочеться того чи ні. Але все ж можна спробувати пошукати компроміс між своїм темпераментом і реальністю. Повністю переробити себе складно, адже подібна мінливість - властивість багато в чому вроджена. Нестійкість інтересів, швидкість переключення уваги, підвищена емоційність властиві людям з темпераментом холерика - їм справді протипоказана монотонна, одноманітна робота. Запропоную кілька варіантів, які підходять таким людям.</p>
    	</p>
      <p>
        <h3>Журналіст.</h3>
        <p></p><img src="{{ url_for('static', filename='pictures/prof_for_those_who_journalist.jpg') }}" width="25%" class="img1"></p>
        <p>Мабуть, це той рід діяльності, який при бажанні дає можливість працювати дуже різноманітно. У друкованому виданні, на телебаченні, на радіо, в електронному виданні, в прес-службі і PR-службі організації специфіка журналістської роботи різниться. Змінюючи місце роботи, журналіст отримує кожен раз абсолютно нові завдання. Він також має досить широкий вибір об'єктів праці. Так, будучи журналістом, ви, так чи інакше, працюєте зі словом - але ж ви можете розповідати як про людей, так і про театральні прем'єри, як про наукові досягнення, так і про новини економіки... У журналіста є можливість з кожним новим матеріалом занурюватися в абсолютно новий і незнайомий світ. І сама діяльність варіюється від інтенсивного спілкування (зауважте: знову ж таки з найрізноманітнішими людьми) до тихої дослідницької роботи з документами. Такого розмаїття, мабуть, немає в жодній іншій професії.</p>
    	</p>
    	<p><img src="{{ url_for('static', filename='pictures/prof_for_those_who_event_manager.jpg') }}" width="21%" class="img2">
        <h3>Організатор свят (event-менеджер).</h3>
          <p>Якщо ви комунікабельна, компанійська людина, подумайте про професію організатора свят. Це робота з замовниками, безпосереднє проведення заходу, інтенсивна організаторська діяльність. І творчість: для кожного замовлення вам доведеться розробляти унікальний сценарій. Свята змінюють один одного швидко, з'являється можливість перемикатися на чергове замовлення - нудьгувати ніколи.</p>
    	</p>
    	<p>
        <h3>Менеджер з реклами.</h3>
        <p></p><img src="{{ url_for('static', filename='pictures/prof_for_those_who_advertising_manager.jpg') }}" width="25%" class="img1"></p>
        <p>Ставши менеджером у рекламній сфері, ви також знайдете досить широке поле застосування своїх сил. Займатися доведеться і комунікацією, і аналітичними звітами, і творчістю. Особливу увагу можна звернути на сферу BTL-маркетингу. Спеціаліст у цій області займається організацією рекламних акцій (презентацій, дегустацій і так далі - в залежності від фантазії клієнта і самого рекламіста). Ця штучна робота включає в себе необхідність розробляти сценарій акції, підбирати персонал для її проведення, домовлятися з людьми, аналізувати результати і писати звіти для керівництва і клієнта.</p>
     	</p>
      <p>
        <h3>Копірайтер.</h3>
        <p></p><img src="{{ url_for('static', filename='pictures/prof_for_those_who_copywriter.jpg') }}" width="21%" class="img1"></p>
        <p>Зверніть увагу на заняття копірайтера. Це творча професія. Головне завдання копірайтера - генерування ідей. Причому сьогодні він може розробляти концепцію рекламної кампанії нового розважального центру, завтра - писати рекламну статтю про новий лікарський препарат, а післязавтра - складати сюжет телевізійного ролика для магазину. Крім творчості, робота включає в себе переговори з замовником, пошук необхідного матеріалу.</p>
      </p>
      <p>
        <h3>Подорожі.</h3>
        <p>Звісно, не можна було не згадати про професії, пов'язані з подорожами: гід, геолог, географ, архелог...</p>
      </p>
      <p><img src="{{ url_for('static', filename='pictures/prof_for_those_who_teacher.jpg') }}" width="19%" class="img1">
        <h3>Учитель.</h3>
        <p>Хороші вчителі та вихователі кажуть, що в їх професію нудьгувати не доводиться: кожен день підкидає нові завдання, кожна дитина потребує індивідуального підходу. Та й вихованці часто роблять капості, що урізноманітнює робочий день.</p>
      </p>
	  </div>
{% endblock %}