{% extends 'base.html' %}


{% block title %}

{% endblock %}

{% block style %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/test2(prof-oriet)_start_style.css') }}">
{% endblock %}

{% block body %}
	<div class="bodyx">
		<p><em>Зараз існує дуже багато видів професіограм, зроблених з метою допомогти майбутнім спеціалістам з вибором професії. До них можна ставитися серйозно або несерйозно, але взяти до уваги результат все ж таки варто. Пропонуємо вам одну з найпопулярніших професіограм.</em></p>
		<h2 align="center">Методика "Карта інтересів" А. Є. Голомштока</h2>
		<p align="center"><em>Інструкція</em></p>
		<p>Намагайтеся дати якнайточнішу відповідь на кожне запитання. Якщо ви неодноразово переконалися, що вам дуже подобається те, про що йдеться, то серед відповідей оберіть "+ +" (два плюси); якщо просто подобається - "+" (один плюс); якщо не знаєте, не впевнені - "0"; якщо не подобається - "-" (один мінус); якщо ж дуже не подобається - "- -" (два мінуси). Відповідайте на питання, не минаючи жодного, і будьте чесні перед собою та не давайте фальшивих відповідей.</p>
		<a href="/prof-orient-test" class="link">>>Перейти до тесту</a>
	</div>
{% endblock %}