{% extends 'base.html' %}

{% block title %}
    Корисні статті
{% endblock %}



{% block style %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/useful_articles.css') }}">
{% endblock %}

{% block body %}
    <div class="bodyx">
      <p class="zag"><em class="zagolovok">
        У цьому розділі ви можете переглянути добірку статей, які так чи інакше стосуються вибору спеціальності. Із них ви можете почерпнути корисну інформацію, яка неодмінно знадобиться вам, допоможе зробити правильний вибір і загострить увагу на тих речах, які є справді важливими при прийнятті рішення.
      </em></p>
      <ul>
       <li >
            <a href="{{ url_for("what_profession_to_choose") }}">Як обрати професію, яка тобі підходить, і не помилитись
            <p><em>Яку професію обрати: ту, яка подобається мені, чи яку радять батьки і близькі? Стабільну чи творчу? Залишатися на низькооплачуваній, але цікавій роботі - чи піти на менш цікаву, але високооплачувану? Піти в найм чи відкрити власну справу?</em></p>
            </a>
          <hr>
        </li>
        <li >
            <a href="{{ url_for("demand_for_prof") }}">Затребуваність професій
            <p><em>Що це таке? Чому це важливо при виборі спеціальності?Які спеціальності можна назвати затребуваними і чому?</em></p>
            </a>
          <hr>
        </li>
        <li >
          <a href="{{ url_for("parental_influence") }}">Вплив батьків на вибір професії
            <p><em>Вибір професії - справа, безумовно, відповідальна. Врахувати потрібно багато - всього і не перерахуєш. За даними опитувань, близько 90% дорослих людей говорять про те, що на їх вибір професії та освіти, так чи інакше, вплинули в сім'ї.</em></p>
            </a>
           <hr>
        </li>
        <li>
           <a href="{{ url_for("prof_for_those_who_do_quickly_bored") }}">Професії для тих, кому все швидко набридає
            <p><em>Чи є професії для таких людей, яким потрібно постійна різноманітність, зміни, рух? Чи ви просто будете змушені, як кажуть дорослі, заспокоїтися і стати розсудливим?</em></p>
           </a>
          <hr>
        </li>
      </ul>
    </div>
</body>
</html>
{% endblock %}