{% extends 'base.html' %}

{% block title %}
     Як обрати професію, яка тобі підходить
{% endblock %}

{% block style %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/what_profession_to_choose_style.css') }}">
{% endblock %}

{% block body %}
    <div class="bodyx">
    	<h2>
    		Як обрати професію, яка тобі підходить, і не помилитись
    	</h2>
    	<p><img src="{{ url_for('static', filename='pictures/what_profession_to_choose.jpg') }}" class="img">
          <em>Яку професію обрати: ту, яка подобається мені, чи яку радять батьки і близькі? Стабільну чи творчу? Залишатися на низькооплачуваній, але цікавій роботі - чи піти на менш цікаву, але високооплачувану? Піти в найм чи відкрити власну справу?</em>
    	</p>
        <h3>Крок перший. Уникайте необхідності робити вибір в ситуації «або, або».
        </h3>
        <p>Якщо існує тільки два варіанти для вибору, то ви стаєте заручником обставин, втрачаєте свободу вибору. Розбавте список іншими можливими альтернативами. Включіть запасні варіанти, варіанти із суміжними спеціальностями, малоймовірні варіанти і т.д. Не оцінюйте їх - просто дайте волю своїй уяві, відпустіть у вільне плавання свої мрії та амбіції.</p>
        <p>Якщо варіантів вибору стане як мінімум три, до вас повернеться відчуття того, що це ви - господар ситуації, що це ви керуєте нею, а не вона вами.</p>
        <p>Уже цей крок може привести до бажаного результату.</p>
        <p>Напевно, переглядаючи список, що вийшов, ви зупините свій погляд на одному з варіантів. Ваше серце завмре, ви затамуйте подих - і зрозумієте: ось воно, те, чим я хочу займатися!</p>
    	</p>
    	<p>
        <h3>Крок другий. Оцініть кожен з цих варіантів за різними критеріями.</h3>
          <p>Наприклад, за 10-бальною шкалою:
            <ul>
              <li>задоволення від діяльності;</li>
              <li>дохідність, прибутковість роботи;</li>
              <li>можливість кар'єрного росту;</li>
              <li>можливість реалізувати свій творчий потенціал;</li>
              <li>відповідність вашим здібностям;</li>
              <li>відповідність рівню ваших знань, підготовки;</li>
              <li>інтерес;</li>
              <li>стабільність, почуття захищеності і т.д.</li>
            </ul>
          </p>
          <p>Список критеріїв ви можете скласти самі, виділивши те, що є для вас важливим у майбутній професії.</p>
          <p>Теоретично, варіант, який набрав максимальну кількість балів, є ідеальним для вас варіант. Але фактично він може виявитися менш привабливим для вас, аніж варіант, який набрав меншу кількість балів.</p>
          <p>Це пов'язано з тим, що не всі критерії рівнозначні за своєю цінністю.</p>
    	</p>
    	<p>
        <h3>Крок третій. Cпробуйте ранжувати свої критерії за ступенем значущості.</h3>
        <p>Розділіть їх на групи - «Дуже важливо», «Досить важливо» і «Найменш важливо». Робіть свій вибір на основі перших двох груп критеріїв. Тоді ваші шанси зробити правильний, адекватний вибір значно зростуть.</p>
        <p>Критерієм правильності вашого рішення стануть почуття задоволеності, хвилювання, надії і радості. Нехай ваш вибір амбітний, нехай у нього є свої недоліки, але ви хочете і можете це зробити!</p>
     	</p>
    	<p>
        <p>Бажаю вам успіхів на нелегкому шляху професійного самовизначення.</p>
        <p><em>Автор статті: Олена Плотко, психолог-консультант</em></p>
    	</p>
      <h3>Також у нагоді може стати дане відео:</h3>
    	<p align="center">
    		<iframe class="video" src="https://www.youtube.com/embed/csugZuJsfJc" frameborder="0" allowfullscreen></iframe>
		  </p>
	  </div>
{% endblock %}