h2 {
  margin: 0px;
  padding-top: 10px;
  font-weight: 600;
  font-size: 24px;
  color: #5e5e5e;
  text-align: center;
}

h3 {
  margin: 0px;
  font-weight: 500;
  font-size: 19px;
  padding-left: 25px;
  font-weight: 600;
}

p {
  margin: 16px;
  font-size: 16px;
}

blockquote {
  border-left: 5px solid #eee;
  padding: 10px 20px;
  font-size: 17px;
}

.bodyx {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  padding-top: 125px;
}

.imgs {
  float: right;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(207,205,207,1);
  -moz-box-shadow: 0px 0px 20px 1px rgba(207,205,207,1);
  box-shadow: 0px 0px 20px 1px rgba(207,205,207,1);
  margin: 16px 0px 16px 16px;
}
